<a href="https://colab.research.google.com/github/Indahnalz/Tugas-Algoritma/blob/main/2208541035_IndahNurAliza_TugasIV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 11 While Loop

## Pendahuluan
while loop adalah struktur pengulangan yang akan selalu dieksekusi selama nilainya *True* dan akan berhenti saat nilai kondisinya * false*

In [ ]:
a = 0
#menginisialiasikan variable 'a' dengan nilai awal 0
while a < 8:
  #ini adalah perintah while loop yang akan di jalankan selama 'a' kurang dari 8
  print("angka" + str(a) + "masih dibawah 8")
  # "print" akan mencetak pesan output yang berisi nilai variabel 'a' dalam bentuk string diikuti dengan pesan "masih dibawah 8"
  a += 1
  # ini akan menambah variabel a dengan 1 pada loop hingga 'a' akan bertambah sampai kurang dari 8

#perintah ini akan berhenti apabila nilai 'a' sudah mencapai/melebihi 8 karena program akan menganggap 'a' memiliki nilai false

In [5]:
#contoh lain

a = 0
while a < 13:
  print(a * '*')
  a += 1

  #sebenarnya code ini sama seperti code diatas, dimulai dengan penginisialisasian variabel, penggunaan while loop dan mencetak output menggunakan print.
  # yang membedakannya adalah pada garis ketiga print diperintahkan untuk mencetak a dengan penginisialan lain seperti pada contoh yang menggunakan '*' untuk menginisialisasikan variabel a yang kurang dari 13

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

# 5.12 List di Python

## Pendahuluan

List dapat digunakan saat kita akan mempresentasikan objek dalam Python yang berupa *string* ataupun angka

List dapat diubah/dipanggil urutannya

In [7]:

card = ['spade', 'heart', 'diamond', 'club']

#buat sebuah list yang terdiri dari empat/lebih elemen, disini saya membuat list card yang berisi 'spade', 'heart', 'diamond', dan 'club'. 
#List tersebut disimpan ke dalam variabel card.
print(card)
#print akan mencetak isi variabel ke output

['spade', 'heart', 'diamond', 'club']

In [8]:
print(card[0])
# card[0] mengambil elemen pada indeks ke-0 (elemen pertama) dari list card. Karena elemen pada indeks ke-0 adalah string 'spade', maka baris kode ini akan mencetak string 'spade' ke layar, begitupun seterusnya

spade

In [12]:
print(card[-2])
#ini mencetak elemen kedua dari belakang dari list card ke layar.
#card[-2] mengambil elemen pada indeks ke-2 dari belakang dari list card. Karena indeks dimulai dari 0 dan card[-1] mengambil elemen terakhir dari list, maka card[-2] akan mengambil elemen kedua dari belakang dari list, yaitu string 'diamond'.

diamond

In [9]:
card[3] = 'joker'
#perintah ini mengubah list yang ada di dalam variabel card yang sebelumnya adalah 'club' menjadi 'joker'
print(card)
#lalu print akan menampilkan output setelah list diatas diganti

['spade', 'heart', 'diamond', 'joker']

In [11]:
print(card[1:3])
# ini mencetak bagian dari list card yang terdiri dari elemen pada indeks ke-1 dan ke-2.

#card[1:3] mengambil slice dari list card mulai dari indeks ke-1 (elemen kedua) hingga indeks ke-3 (elemen ketiga), tetapi tidak termasuk elemen pada indeks ke-3 itu sendiri. Dalam hal ini, slice yang diambil adalah ['heart', 'diamond'].

['heart', 'diamond']

In [13]:
#perintah ini tidak merubah list 
print(card)

['spade', 'heart', 'diamond', 'joker']

# 5.13 Metoda List

## Pendahuluan 
 list merupakan objek, maka keberadaannya dapat dimanipulasi dengan menambahkan atau menghilangkan isinya

In [1]:
season = ['spring', 'summer', 'fall', 'winter' ]
#baris ini terdiri dari 4 elemen string yaitu 'spring', 'summer', 'fall', dan 'winter' yang menjadi satu variabel yaitu 'season'.
season.append('monsoon')
# lalu disini kita menggunakan salah satu metoa list yaitu 'append' untuk menambahkan elemen baru yaitu 'monsoon'.
print(season)
# lalu print akan mencetak output dari variable 'season' yang telah diperbaharui dengan tambahan elemen baru

['spring', 'summer', 'fall', 'winter', 'monsoon']

In [2]:
season.insert(0, 'drought')
#metode insert() dipanggil pada objek season untuk menyisipkan elemen string baru yaitu 'drought' pada indeks ke-0 (posisi pertama) di dalam list.
print(season)
# print() dipanggil untuk mencetak isi dari list season yang telah diperbarui dengan penambahan elemen baru.

['drought', 'spring', 'summer', 'fall', 'winter', 'monsoon']

In [3]:
season.remove('drought')
#metode remove() dipanggil pada objek season untuk menghapus elemen string 'drought' dari dalam list. Karena elemen ini berada pada indeks ke-0 (posisi pertama), maka setelah dihapus, elemen-elemen di dalam list akan mundur ke posisi yang lebih rendah untuk mengisi posisi yang kosong.
print(season)
#print() dipanggil untuk mencetak isi dari list season yang telah diperbarui dengan penghapusan elemen 'drought'.

['spring', 'summer', 'fall', 'winter', 'monsoon']

# 5.14 For Loop

## Pendahuluan
For loop pada Python adalah jenis loop yang digunakan untuk mengulangi suatu blok kode dengan jumlah pengulangan yang telah ditentukan sebelumnya. For loop digunakan untuk mengulangi suatu pernyataan atau blok kode untuk setiap elemen dalam urutan tertentu seperti list, tuple, atau string.

In [6]:
music = ['rnb', 'jazz', 'pop', 'country' ]
# baris ini merupakan list yang berisi 4 elemen string yaitu, 'rnb', 'jazz', 'pop', 'country'.
for genre in music:
  #Memulai pengulangan menggunakan for loop. Pada pengulangan, variabel genre akan mereferensikan elemen saat ini di dalam list music.
  print(genre)
  #Mencetak isi dari variabel genre yang mereferensikan elemen saat ini di dalam list music. Dalam hal ini, setiap elemen di dalam list music akan dicetak secara berurutan dalam satu baris terpisah.

rnb
jazz
pop
country

In [7]:
i = 0
#inisialisasi variabel i dengan nilai 0.
while i < len(music):
  # pernyataan while mengevaluasi kondisi i < len(music) yang artinya selama variabel i masih lebih kecil dari panjang objek music, maka blok kode dalam loop akan terus dijalankan.
  print(music[i])
  #mencetak elemen ke-i dalam objek music.
  i += 1
  # menambahkan nilai variabel i sebesar 1 setiap kali loop dijalankan untuk mengakses elemen berikutnya.

rnb
jazz
pop
country

# 5.15 Fungsi Range

## Pendahuluan 

fungsi range berguna untuk membangkitkan bilangan berurutan atau berpola yang kita inginkan. penulisannya di kombinasikan dengan for loop

In [8]:
angka = range(13)
#membuat objek range dengan nilai awal 0 dan nilai akhir 13-1 (yaitu 12), sehingga objek range ini akan berisi angka dari 0 sampai dengan 12.
print(angka)
#mencetak objek angka, yang berisi range nilai dari 0 sampai 12.

range(0, 13)

In [9]:
for isi in angka:
  #melakukan pengulangan pada setiap elemen di dalam objek angka, kemudian setiap elemen tersebut dicetak. isi adalah variabel yang digunakan untuk menyimpan nilai dari setiap elemen di dalam objek angka.
  print(isi)
  #mencetak nilai isi yang merupakan elemen di dalam objek angka.

0
1
2
3
4
5
6
7
8
9
10
11
12

In [11]:
for isi in range(2,9):
  #melakukan pengulangan pada setiap nilai di dalam objek range yang dimulai dari nilai 2 hingga nilai 8. isi adalah variabel yang digunakan untuk menyimpan nilai dari setiap elemen di dalam objek range tersebut.
  print(isi)
  #mencetak nilai isi yang merupakan nilai dalam objek range.

2
3
4
5
6
7
8

In [12]:
for isi in range(0,12,2):
  #melakukan pengulangan pada setiap nilai di dalam objek range yang dimulai dari nilai 0 hingga nilai 11 dengan jarak antar nilai sebesar 2. isi adalah variabel yang digunakan untuk menyimpan nilai dari setiap elemen di dalam objek range tersebut.
  print(isi)
  #mencetak nilai isi yang merupakan nilai dalam objek range.

0
2
4
6
8
10